.modelo-area_publicacion{
    background-color: #fff;
    border: 1px solid #cdcdcd;
    padding: 5px;
    .heaer_modelo{
        span{
            position: relative;
            top: 15px;
        }
    }
    .opciones_modelo{
        float: right;
        cursor: pointer;
    }
}